*.pyc

/VQAV2
/VizWiz
/models/beit3_large_indomain_patch16_480_vqa.pth
/models/beit3_base_indomain_patch16_480_vqa.pth
/models/base/*
/models/large/*
base/vizwiz_checkpoint_base_epoch0.tar
base/vizwiz_checkpoint_base_epoch1.tar
base/vizwiz_checkpoint_base_epoch2.tar
base/vizwiz_checkpoint_base_epoch3.tar
base/vizwiz_checkpoint_base_epoch4.tar
base/vizwiz_checkpoint_base_epoch5.tar
base/vizwiz_checkpoint_base_epoch6.tar
kd_student/vizwiz_checkpoint_kd_epoch0.tar
large/vizwiz_checkpoint_epoch6.tar
notebooks/teacher_logits.tar
notebooks/kd_student/vizwiz_checkpoint_kd_epoch1.tar
notebooks/kd_student/vizwiz_checkpoint_kd_epoch2.tar
notebooks/kd_student/vizwiz_checkpoint_kd_epoch3.tar
notebooks/kd_student/vizwiz_checkpoint_kd_epoch4.tar
notebooks/kd_student/vizwiz_checkpoint_kd_epoch5.tar
notebooks/kd_student/vizwiz_checkpoint_kd_epoch6.tar
notebooks/kd_student/vizwiz_checkpoint_kd_epoch7.tar
notebooks/kd_student/vizwiz_checkpoint_kd_epoch8.tar
notebooks/kd_student/vizwiz_checkpoint_kd_epoch9.tar
notebooks/kd_student/vizwiz_checkpoint_kd_epoch10.tar
